<header class="header">
  <app-logo class="logo"></app-logo>
  <div *ngIf="isAuthenticated$ | async" class="buttons">
    <mat-menu #menu="matMenu">
      <div class="menu" *ngIf="userName$ | async as userName">
        <span>First Name: {{ userName.first }}</span>
        <span>Last Name: {{ userName.last }}</span>
      </div>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu" class="user">
      <fa-icon [icon]="userIcon"></fa-icon> User login
    </button>
    <button class="logout" (click)="logout()">
      <fa-icon [icon]="logOffIcon"></fa-icon> Log off
    </button>
  </div>
</header>
