:host {
  background: #303240;
  height: 5rem;
  width: 100%;
}

.footer {
  padding-right: 5rem;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & span {
    display: block;
  }
}
