.card {
  background-color: white;
  border-radius: 6px;
  padding: 1rem 1rem;
  margin: 1rem 5rem;
}

.top-rated-bg {
  background-color: lightgrey;
}

.header {
  display: flex;
  justify-content: space-between;
  & h2 {
    font-size: 1.5rem;
  }
}

.star {
  color: gold;
}

.timeInfo {
  color: #858997;
}

.durationIcon {
  margin-right: 1rem;
}

.content {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.description {
  flex: 1 1 75%;
}

.buttons {
  display: flex;
  flex: 0 1 25%;
  align-items: center;
  justify-content: flex-end;

  & button {
    text-align: center;
    border: none;
    background-color: #009ecd;
    color: white;
    border-radius: 3px;
    margin: 0.25rem;
    padding: 0.5rem 0.75rem;
  }

  & button fa-icon {
    margin-right: 0.25rem;
  }
}

.buttons button:hover {
  cursor: pointer;
  background-color: #0080a7;
}
