<div class="container">
  <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label for="title">Title</label>
      <input type="text" id="title" formControlName="title" />
    </div>
    <div class="row">
      <label for="description">Description</label>
      <textarea
        id="description"
        rows="10"
        formControlName="description"
      ></textarea>
    </div>
    <div class="row">
      <label for="date">Creation date</label>
      <input class="short-input" type="date" id="date" formControlName="date" />
    </div>
    <div class="row">
      <label for="duration">Duration</label>
      <div class="duration">
        <input
          class="short-input"
          type="number"
          min="0"
          id="duration"
          formControlName="duration"
        />
        <span>{{duration.value | hoursFromMinutes}}</span>
      </div>
    </div>
    <div class="buttons">
      <button class="submit">Submit</button>
      <button class="cancel" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
